In [27]:
import sqlite3 as sql

In [28]:
conn = sql.connect("example.db") 
cur = conn.cursor()

In [29]:
try:
    cur.executescript(open("create.sql", 'r').read())
except sql.OperationalError as err:
    print("Encountered error: " + str(err))

In [32]:
try:
    cur.executescript(open("insert_items.sql", 'r').read())
except Exception as err:
    print("Encountered error: " + str(err))

IntegrityError: UNIQUE constraint failed: Books.id

In [34]:
request1 = """
SELECT id, title FROM Books INNER JOIN Records
    ON Books.id == Records.book_id 
        AND Records.returning_date IS NULL;
"""

for row in cur.execute(request1):
    print(row)

(4, 'Book3')
(5, 'Book4')

In [36]:
request2 = """
SELECT DISTINCT name, title FROM
    (Readers INNER JOIN Records
        ON Readers.id == Records.reader_id)
    INNER JOIN Books 
        ON Books.id == Records.book_id; 
"""

for row in cur.execute(request2):
    print(row)

('Read1', 'Book3')
('Read1', 'Book2')
('Read2', 'Book4')

In [38]:
request3 = """
SELECT author, COUNT(*) FROM Books
GROUP BY author
"""

for row in cur.execute(request3):
    print(row)

(None, 1)
('Auth1', 1)
('Auth2', 2)
('Auth3', 1)