In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("train.csv")

df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
def prepare_data(df):
    df_data = df[["Survived", "Pclass", "Sex", "Age", "Fare"]].copy()
    df_data = df_data.dropna()
    df_data["Sex"] = df_data["Sex"].map({"male": 0, "female": 1})

    X_data = df_data[["Pclass", "Sex", "Age", "Fare"]].to_numpy()
    y_data = df_data["Survived"].to_numpy()

    return X_data, y_data

In [4]:
X, y = prepare_data(df_train)
clf = DecisionTreeClassifier(random_state=241).fit(X, y)

In [5]:
from sklearn.metrics import accuracy_score

X_test, y_test = prepare_data(df_test)
print("Accuracy of the model is:", accuracy_score(y_test, clf.predict(X_test)))

Accuracy of the model is: 0.9845938375350141

In [6]:
features = ["Pclass", "Sex", "Age", "Fare"]
importances = clf.feature_importances_

zipped = list(zip(features, importances))
zipped.sort(reverse=True, key=lambda x: x[1])

print(zipped)

[('Fare', 0.3007272152697984), ('Sex', 0.3005122109582393), ('Age', 0.25124241277681203), ('Pclass', 0.14751816099515022)]

### Наиболее важные параметры - Fare и Sex